CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Lab_1/.idea/
Lab_1/cmake-build-debug/
Lab_2/.idea/
Lab_2/cmake-build-debug/
Lab_2/uploads/
Snake_Game/build/
Snake_Game/cmake-build-debug/
Snake_Game/.idea/
Lab_5/target/
Lab_5/.idea/
Lab_3/target/
Lab_3/.idea/

Lab_5/
Lab_3/
Snake_Game/resources/Snake_Game_Window/Snake_Game_Window.qmlproject.qtds
Snake_Game/resources/Snake_Game_Window/Snake_Game_Window.qmlproject.qtds
