CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Lab_1/.idea/
Lab_1/cmake-build-debug/
Lab_2/.idea/
Lab_2/cmake-build-debug/
Lab_5/.idea/
Lab_5/cmake-build-debug/
Lab_2/uploads/
Snake_Game/build/
Snake_Game/cmake-build-debug/
Snake_Game/.idea/
